<!-- tasks/templates/tasks/task_list.html -->

{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-6 pb-2" style="color: #3D5A80; font-weight: 700; border-bottom: 3px solid #3D5A80; display: inline-block;">
            Task List
        </h1>
        <br>
        <a href="{% url 'task_create' %}" class="btn btn-primary btn-lg mt-3" style="background-color: #3D5A80; border-color: #3D5A80;">Create New Task</a>
    </div>
    

    <!-- Task List -->
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm" style="border-color: #3D5A80;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #3D5A80;">{{ task.title }}</h5>
                        <a href="{% url 'task_detail' task.pk %}" class="btn btn-outline-primary">View</a>
                        <a href="{% url 'task_update' task.pk %}" class="btn btn-outline-warning">Edit</a>
                        <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
